* {
	font-family: 'Benne',cursive;
	font-weight: 400;
}
.contact-form__h2 {
	font-size: 30px;
}

.contact-form__h2 {
	font-size: 2em;
	color: whitesmoke;
}

h2 {
	background-color: purple;
	display: inline-block;
	padding: 100px;
	text-align: center;
	margin: 20px 10px;
	border-radius: 20px;
	box-shadow: 4px 4px 20px 0 black;
	text-shadow: 2px 2px 7px black;
	transform: rotate(4deg);
}
.matias {
	width:1000px;
	height:550px;
}